.node {
  cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #dadada;
	stroke-width: 1.5px;
}

.button {
	font: sans-serif;
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
}

.axis {
	font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}